* {
    font-family: Helvetica, sans-serif;
    background-color: bisque;
    text-align: center;
}

#title {
    text-align: center;
    margin: auto;
}

.dropdown {
    display: inline-block;
}

.dropdown button {
    background-color: rgb(240, 160, 50);
    color: rgb(228, 224, 29);
    padding: 10px 15px;
    border: none;
    border-radius: 25%;
}

.dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content {
    display: none;
    position: absolute;
    background-color: brown;
    min-width: 100px;
    box-shadow: 2px 2px 5px burlywood;
}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover button {
    background-color: hsl(0, 0, 70%);
}

.dropdown a:hover{
    background-color: rgb(255, 208, 0);
}

img {
    display: block;
    width: 75vw;
    margin: auto;
}

iframe {
    display: block;
    width: 95vw;
    margin: auto;
}

#singer-description {
    text-align: center;
}

#band-member-img {
    width: 25vw;
}